@model int

<div class="p-3 bg-white rounded shadow-sm border-start border-primary border-5">
    <p class="text-muted mb-0" style="font-size: 0.9rem;">Total Students</p>
    <div class="d-flex align-items-center">
        <i class="bi bi-people-fill fs-2 text-primary me-3"></i>
        <span class="fw-bold fs-1">@Model</span>
    </div>
</div>